In [1]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})
threshold = 30

In [8]:
filtered_df = df[(df > threshold).any(axis=1)]
print(filtered_df)

   A   B
3  4  40
4  5  50

In [9]:
import pandas as pd

df = pd.DataFrame({'A': [2, 1, 2], 'B': [2, 3, 1], 'C': [1, 2, 3]})

In [10]:
sorted_df = df.sort_values(by=['A', 'B'])
print(sorted_df)

   A  B  C
1  1  3  2
2  2  1  3
0  2  2  1

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

print(df1)
print(df2)

In [13]:
concatenated_df = pd.concat([df1, df2], )
print(concatenated_df)

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

In [14]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, 5]})
print(df)

   A
0  1
1  2
2  3
3  4
4  5

In [16]:
df['Cumulative_A'] = df['A'].cumsum()
df

   A  Cumulative_A
0  1             1
1  2             3
2  3             6
3  4            10
4  5            15

In [19]:
import pandas as pd

series = pd.Series(['apple', 'banana', 'cherry'])

print(series)

0     apple
1    banana
2    cherry
dtype: object

In [20]:
series.str.upper()

0     APPLE
1    BANANA
2    CHERRY
dtype: object